body{
    font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 576px) {
    .carousel .carousel-item img{
        object-fit: cover;
        object-position: center;
        overflow: hidden;
        height:100vh;
    }
}